.SongListItem {
  border-radius: 5px;
}

.SongListItem.selected {
  background-color: darkslategray;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.ParentElement {
  display: flex;
  width: 95%;
}

.ChildElement {
  flex: 1;
  padding: 10px;
  cursor: pointer;
}
.ChildActionElement {
  flex: 0 0 15px;
}
